[Unit]
Description=Run the application's Docker image
Requires=cvm_vault.service cvm_integrity.service docker.service mount_user_data.service
After=cvm_vault.service cvm_integrity.service docker.service mount_user_data.service
BindsTo=cvm_integrity.service
PartOf=cvm_workload.target
OnFailure=cvm_fail.service

[Service]
Type=simple
WorkingDirectory=/usr/lib/cvm
EnvironmentFile=/run/cvm/platform.env
ExecStart=/usr/bin/python3 -m builder.runtime application
ExecStop=-/usr/bin/docker stop --time 15 cvm-application
TimeoutStopSec=25
Restart=no
LimitCORE=0
