[Unit]
Description=Periodically recheck attestation and key authorization
Requires=cvm_vault.service cvm_integrity.service
After=cvm_vault.service cvm_integrity.service
BindsTo=cvm_integrity.service
PartOf=cvm_workload.target

[Timer]
OnActiveSec=5min
OnUnitActiveSec=5min
AccuracySec=1s
Unit=periodic_attestation.service
