#!/usr/bin/env bash

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
function report_status() {
  status="$1"
  if [ "${status}" -ne 0 ]
  then
    echo "$2 failed"
    exit "${status}"
  fi
}

function check_binary() {
  echo -n "Checking if $1 exists. => "
  if ! command -v $1 &> /dev/null
  then
    echo "not found. $2"
    exit 1
  else
    echo "found"
  fi
}

function prompt() {
  # usage:  prompt NEW_VAR "Prompt message" ["${PROMPT_VALUE}"]
  local __resultvar=$1
  local __prompt=$2
  local __default=${3:-}
  local __result
  if [[ ${BASH_VERSINFO[0]} -ge 4 && -n "$__default" ]]
    then
    read -e -i "$__default" -p "$__prompt: " __result
  else
    __default=${3:-${!__resultvar:-}}
    if [[ -n $__default ]]
      then
      printf "%s [%s]: " "$__prompt" "$__default"
    else
      printf "%s: " "$__prompt"
    fi
    IFS= read -r __result
    if [[ -z "$__result" && -n "$__default" ]]
      then
      __result="$__default"
    fi
  fi
  eval $__resultvar="'$__result'"
}

function get_resources_file() {
  local rfile="${DIR}/../local/resources.json"
  if [ -f "${rfile}" ]
    then
    echo "${rfile}"
  elif [ -f "${rfile}.default" ]
    then
    echo "${rfile}.default"
  else
    echo ""
    exit 1
  fi
}

# parse arguments
while [[ $# -gt 0 ]]
do
  key="$1"
  case $key in
    --config)
      config_file=$2
      shift
    ;;
    --image)
      image_name=$2
      shift
    ;;
    --vpc-id)
      vpc_id=$2
      shift
    ;;
    --subnet-id)
      subnet_id=$2
      shift
    ;;
  esac
  shift
done
