{
  "allow_adhoc_conns": false,
  "backbone_conn_gen": {{ conn_gen }},
  "internal": {
    "scheme": "{{ scheme }}",
    "resources": {
      "host": "{{ host }}",
      "port": {{ port }},
      "connection_security": "{{ conn_sec }}"
    }
  }
}
