services:
  __overseer__:
    build: ./nvflare
    image: ${IMAGE_NAME}
    volumes:
      - .:/workspace
    command: ["${WORKSPACE}/startup/start.sh"]
    ports:
      - "8443:8443"

  __flserver__:
    image: ${IMAGE_NAME}
    ports:
      - "8002:8002"
      - "8003:8003"
    volumes:
      - .:/workspace
      - nvflare_svc_persist:/tmp/nvflare/
    command: ["${PYTHON_EXECUTABLE}",
          "-u",
          "-m",
          "nvflare.private.fed.app.server.server_train",
          "-m",
          "${WORKSPACE}",
          "-s",
          "fed_server.json",
          "--set",
          "secure_train=true",
          "config_folder=config",
          "org=__org_name__",
        ]

  __flclient__:
    image: ${IMAGE_NAME}
    volumes:
      - .:/workspace
    command: ["${PYTHON_EXECUTABLE}",
          "-u",
          "-m",
          "nvflare.private.fed.app.client.client_train",
          "-m",
          "${WORKSPACE}",
          "-s",
          "fed_client.json",
          "--set",
          "secure_train=true",
          "uid=__flclient__",
          "org=__org_name__",
          "config_folder=config",
        ]

volumes:
  nvflare_svc_persist:
