{
  "format_version": 2,
  "project_name": "{{ project_name }}",
  "identity": "{{ identity }}",
  "server_identity": "{{ server_identity }}",
  "connect_to": {
    "scheme": "{{ scheme }}",
    "identity": "{{ parent_identity }}",
    "address": "{{ address }}",
    "fqcn": "{{ fqcn }}",
    "connection_security": "{{ conn_sec }}"
  }
}
