{
  "format_version": 2,
  "servers": [
      {
          "name": "{{ name }}",
          "service": {
              "target": "{{ target }}",
              "scheme": "{{ scheme }}"
          },
          "admin_server": "{{ admin_server }}",
          "admin_port": {{ admin_port }},
          "ssl_private_key": "server.key",
          "ssl_cert": "server.crt",
          "ssl_root_cert": "rootCA.pem",
          "connection_security": "{{ conn_sec }}"
      }
  ],
  "overseer_agent": {
    "path": "nvflare.ha.dummy_overseer_agent.DummyOverseerAgent",
    "args": {
      "sp_end_point": "{{ sp_end_point }}"
    }
  }
}
