{
  "format_version": 1,
  "admin": {
    "project_name": "{{ project_name }}",
    "username": "{{ username }}",
    "server_identity": "{{ server_identity }}",
    "scheme": "{{ scheme }}",
    "host": "{{ host }}",
    "port": {{ port }},
    "connection_security": "{{ conn_sec }}",
    "uid_source": "{{ uid_source }}",
    "with_file_transfer": true,
    "upload_dir": "transfer",
    "download_dir": "transfer",
    "client_key": "client.key",
    "client_cert": "client.crt",
    "ca_cert": "rootCA.pem"
  }
}
