RUN mkdir /opt/NVFlare
WORKDIR /opt/NVFlare
RUN pip install -U pip
RUN pip install nvflare
COPY requirements.txt requirements.txt
RUN pip install -r requirements.txt

RUN apt-get update 
RUN apt install docker.io -y
WORKDIR /workspace
