{
  "format_version": 2,
  "relay_config": {
    "scheme": "{{ scheme }}",
    "identity": "{{ identity }}",
    "address": "{{ address }}",
    "fqcn": "{{ fqcn }}",
    "connection_security": "{{ conn_sec }}"
  }
}
