*

!MANIFEST.in
!README.md
!.git/
!.git/HEAD
!.git/index
!.git/objects/
!.git/objects/**
!.git/packed-refs
!.git/refs/
!.git/refs/**
!.git/shallow
!job_templates/
!job_templates/**
!examples/
examples/*
!examples/hello-world/
examples/hello-world/*
!examples/hello-world/hello-numpy/
examples/hello-world/hello-numpy/*
!examples/hello-world/hello-numpy/client.py
!nvflare/
!nvflare/**
!pyproject.toml
!setup.cfg
!setup.py
!versioneer.py
