include versioneer.py
include nvflare/_version.py
include nvflare/libs/*.so
include nvflare/fuel/utils/*.json
include nvflare/private/fed/app/simulator/log_config.json
include nvflare/lighter/templates
