cryptography>=36.0.0
Flask==2.2.5
Werkzeug==2.2.2
Flask-JWT-Extended==4.4.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.31
google-api-python-client==2.49.0
grpcio==1.46.3
gunicorn==20.1.0
numpy
protobuf==3.20.2
psutil==5.9.1
PyYAML==6.0
six>=1.15.0
msgpack==1.0.3
docker>=6.0
