# Set the intended machine hostname -f.
EXPECTED_HOSTNAME=""
PLATFORM_PROFILE="kata-3.29.0-snp-approved-1gpu-v1"
PLATFORM_WORK_ROOT="${HOME}/coco-platform/platform-reference-work"
PLATFORM_TOOLS_ROOT="${HOME}/coco-platform/platform-tools"
KATA_VERSION="3.29.0"
RUNTIME_CLASS="kata-qemu-nvidia-gpu-snp"
KATA_CHART_OCI="oci://ghcr.io/kata-containers/kata-deploy-charts/kata-deploy"
KATA_CHART_OCI_DIGEST="sha256:aea41018779716ce2e0bf406d701637d10fb5a0792db51a08dfd3f76701eb933"
KATA_CHART_TGZ_SHA256="dfa752945f35e2fd2d81e5293e214b7d513ae05a5edb0b0f58b3ef67eed854c2"
KATA_DEPLOY_INDEX="quay.io/kata-containers/kata-deploy@sha256:7162e9afd42c4ab91870d56982b0111e0add3c30183ba7e1f106e7003b1f6e6a"
KATA_DEPLOY_AMD64="quay.io/kata-containers/kata-deploy@sha256:1e80246bbecd4fdfde2281a1ebefcd77da3f3722eca57856260d2b270de0b6ff"
KUBECONFIG_PATH="/etc/kubernetes/admin.conf"
REHEARSAL_WORKLOAD_YAML="${HOME}/private-platform-reference/workload-source.yaml"
SNP_KERNEL_CMDLINE_REL="kernel-command-line.txt"
PLATFORM_REFERENCE_SKIP_SIGNING=1
