.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a{display:block;background:#b1b1b1;padding:.4045em 7.3em}
.wy-menu-vertical li.toctree-l5.current li.toctree-l6>a{display:block;background:#a9a9a9;padding:.4045em 8.8em}
.wy-menu-vertical li.toctree-l5{font-size: .9em;}
.wy-menu > .caption > span.caption-text {
    color: #76b900;
  }