#!/bin/sh
# Platform: __platform__; generic bundle: __build_id__.
# Vault binding: __vault_bind__.
set -eu
cd -- "$(dirname -- "$0")"
exec python3 -m builder.launcher --vault-directory "$PWD" --shutdown
