# Tested with the following versions:
# python==3.12.12
# torch==2.10.0
# transformers==5.0.0
# peft==0.18.1
# trl==0.27.2

nvflare~=2.7rc
torch
torchvision
datasets
tensorboard
transformers
peft
trl
bitsandbytes
wandb