# Tested with the following versions:
# torch==2.8.0
# transformers==4.56.1
# peft==0.17.1
# trl==0.23.0

torch
torchvision
datasets
tensorboard
transformers>=4.56.1
peft>=0.17.1
trl>=0.23.0
bitsandbytes>=0.47.0
