nvflare~=2.5.0rc
ipcl_python @ git+https://github.com/intel/pailliercryptolib_python.git@development
--extra-index-url https://s3-us-west-2.amazonaws.com/xgboost-nightly-builds/list.html?prefix=federated-secure/
xgboost
pandas
scikit-learn
shap
matplotlib
tensorboard
tenseal
