nvflare~=2.7.2rc
torch==2.6.0
torchvision==0.21.0
psutil  # required at build time by flash_attn
transformers==4.57.1
deepspeed==0.17.1
flash_attn==2.7.4.post1
triton==3.2.0
accelerate==1.7.0
torchcodec==0.2
peft==0.17.1
wandb==0.24.2
datasets>=2.18.0
Pillow>=10.0.0