##
.DS_Store

# Xcode
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
xcuserdata/
*.xcuserdata
**/xcuserdata/*
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

## Build generated
build/
DerivedData/
*.build/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Frameworks directory (except README and .gitkeep)
Frameworks/*
!Frameworks/.gitkeep
!Frameworks/README.md
