# ide
.idea/
.ipynb_checkpoints/

# nvflare artifacts
log.txt
client_token.txt
*.fl
audit.log
transfer
workspaces

# python
__pycache__
.pyc

# virtual environments
fedanalysis

# data
data/archive
data/*.json
