---
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Code from "@components/code.astro";
import GettingStarted from "@components/gettingStarted.astro";
import LearnMore from "@components/learnMore.astro";
import Overview from "@components/overview.astro"
import Series from "@components/series.astro";
---

<Layout title="">
  <div>
    <Hero />
    <GettingStarted />
    <Code />
    <Series />
    <Overview />
    <LearnMore />
  </div>
</Layout>
